<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.pg2016"
version = "1.0.0">

<name>PhoneGap-Yasmin</name>

<description>
Aplicación que describe el funcionamiento de PhoneGap
</description>

<author href="https://example.com" email="you@example.com">
Yasmin Espinoza
</author>

<icon src="jquery-mobile/images/iconphonegap.png" gap:density="ldpi" gap:platform="android" />
<icon src="jquery-mobile/images/iconphonegap.png" gap:density="mdpi" gap:platform="android" />
<icon src="jquery-mobile/images/iconphonegap.png" gap:density="hdpi" gap:platform="android" />
<icon src="jquery-mobile/images/iconphonegap.png" gap:density="xhdpi" gap:platform="android" />

</widget>